/************ Custom Font ************/
@font-face {
  font-family: "Sofia Pro Black";
  src: url("./assets/fonts/SofiaProBlack.otf");
}

@font-face {
  font-family: "Sofia Pro Medium";
  src: url("./assets/fonts/SofiaProMedium.otf");
}

@font-face {
  font-family: "Sofia Pro Regular";
  src: url("./assets/fonts/SofiaProRegular.ttf");
}

@font-face {
  font-family: "Sofia Pro Light";
  src: url("./assets/fonts/SofiaProLight.otf");
}

@font-face {
  font-family: "Sofia Pro Extra Light";
  src: url("./assets/fonts/SofiaProExtraLight.otf") ;
}

@font-face {
  font-family: "Sofia Pro Ultra Light";
  src: url("./assets/fonts/SofiaProUltraLight.otf");
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin:0px;
  padding: 0px;
  background-color: #ffffff;
  color: #4C455F !important;
  font-family: 'Sofia Pro Light' !important;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Black' !important;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Medium' !important;
}

h3 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Regular' !important;
}

h4 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Light' !important;
}

h5 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro ExtraLight' !important;
}

h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Ultra Light' !important;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/************ Admin NavBar ************/
.adminNavBar {
  padding: 0;
  background-color: #DBD0DD !important;
}

/************ Landing Page ************/
.userNavBar {
  background-color: #DBD0DD !important;
  border-radius: 10px;
}

.userNavBar:hover {
  box-shadow: 5px 10px 30px #7C6682;
}

#card-item:hover {
  box-shadow: 5px 10px 30px #EDDED7;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  left: 10%;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 10%;
  height: 80%;
  width: 80%;
  position: absolute;
}


/************ AdminLogin ************/
.admin_bg {
  min-height: 100vh;
  background-image: url('./assets/img/adminbackground.png');
  background-size: cover;
  background-position-x: -100px;
}

/************ CheckYourPhone ************/
.congrats-card {
  color: whitesmoke;
  text-shadow: 0 0 3px #4C455F , 0 0 5px #4C455F
}

