/************ Custom Font ************/
@font-face {
  font-family: "Sofia Pro Black";
  src: url("./assets/fonts/SofiaProBlack.otf");
}

@font-face {
  font-family: "Sofia Pro Medium";
  src: url("./assets/fonts/SofiaProMedium.otf");
}

@font-face {
  font-family: "Sofia Pro Regular";
  src: url("./assets/fonts/SofiaProRegular.ttf");
}

@font-face {
  font-family: "Sofia Pro Light";
  src: url("./assets/fonts/SofiaProLight.otf");
}

@font-face {
  font-family: "Sofia Pro Extra Light";
  src: url("./assets/fonts/SofiaProExtraLight.otf") ;
}

@font-face {
  font-family: "Sofia Pro Ultra Light";
  src: url("./assets/fonts/SofiaProUltraLight.otf");
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color:  #DBD0DD !important;
  color: #4C455F !important;
  font-family: 'Sofia Pro Light' !important;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Black' !important;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Medium' !important;
}

h3 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Regular' !important;
}

h4 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Light' !important;
}

h5 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro ExtraLight' !important;
}

h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Sofia Pro Ultra Light' !important;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ NavBar ************/
nav.navbar {
  padding: 0;
  margin: 0rem -2rem;
  background-color: white !important;
  border-radius: 10px;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

/************ AdminLogin ************/
.login_bg {
  position: absolute;
  opacity: 0.6;
  height: 100%;
  width: 100;
  mix-blend-mode: normal;
  min-height: 100vh;
  position: 
}

/************ CheckYourPhone ************/
.congrats-card {
  color: whitesmoke;
  text-shadow: 0 0 3px #4C455F , 0 0 5px #4C455F
}

.btn .btn-primary {
  background-color: #4C455F;
}

.landing-page-video {
  object-fit: fill;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
}

.login_bg {
  background-image: url('./assets/img/setup.png');
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}