// custom variables
$primary: #7C6682;
$secondary: #DBD0DD;
$success: #DBD0DD;
$info: #A3B3C3;
$warning: #495B67;
$danger: #DD8A86;
$light: #EDDED7;
$dark: #4C455F;


// import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";