@font-face {
    font-family: "Sofia Pro Black";
    src: local("Sofia Pro Black"),
    url("./fonts/SofiaProBlack.otf") format("truetype");
}

@font-face {
    font-family: "Sofia Pro Medium";
    src: local("Sofia Pro Medium"),
    url("./fonts/SofiaProMedium.otf") format("truetype");
}

@font-face {
    font-family: "Sofia Pro Extra Light";
    src: local("Sofia Pro Extra Light"),
    url("./fonts/SofiaProExtraLight.otf") format("truetype");
}

@font-face {
    font-family: "Sofia Pro Ultra Light";
    src: local("Sofia Pro Ultra Light"),
    url("./fonts/SofiaProUltraLight.otf") format("truetype");
}