.setup_bg {
    background-image: url("../assets/img/setup.png");
    height: 92vh;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}